<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAn-qBxQkC-lIM1DETRfpI0AIJaYCKH60</string>
	<key>GCM_SENDER_ID</key>
	<string>436654453902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.group9Birumanchu</string>
	<key>PROJECT_ID</key>
	<string>birumanchu</string>
	<key>STORAGE_BUCKET</key>
	<string>birumanchu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436654453902:ios:07ebc02e205e3eeb8f85df</string>
</dict>
</plist>